# Todo: remove bash
game/.bash_history

game/.cache/

game/.config/cef_user_data/
game/.config/copyq/
game/.config/dconf/
game/.config/GitHub\ Desktop/
game/.config/glib-2.0/
game/.config/gtk-3.0/
game/.config/htop/
game/.config/ibus/
game/.config/keepassxc/
game/.config/menus/
game/.config/mimeapps.list
game/.config/pavucontrol.ini
game/.config/pulse/
game/.config/QtProject.conf
game/.config/spotify/
game/.config/thorium/
game/.config/Thunar/
game/.config/user-dirs.dirs
game/.config/user-dirs.locale
game/.config/VSCodium/

game/Desktop/

game/Documents/

game/Downloads/

game/.gnupg/

game/.local/

game/Music/

game/Pictures/

game/.pki/

game/Public/

game/.secret/

game/.ssh/

game/.steam/

game/.steampath

game/.steampid

game/Templates/

game/Videos/

game/.vscode-oss/

game/.yarn/

game/.yarnrc

game/.gnupg
